=form_for(@task, url: plc_task_path(@task)) do |f|
  .field
    = f.label :name
    = f.text_field :name
    = f.label :learning_module_id
    = f.select :plc_learning_module_id, options_for_select(options_for_plc_task_learning_modules, @task.new_record? ? nil : @task.plc_learning_module_id), {include_blank: true}
    = f.label :type
    = f.label @task.titleized_task_type
    = f.label :script_id
    = f.text_field :script_id

  .actions
    = f.submit 'Save'